.canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 10;
  opacity: 1;
  transition: opacity 3s;
  transition-delay: 0.62s;
  filter: brightness(0.85) brightness(0.95) contrast(1.3) brightness(1.3);
}

.finished {
  opacity: 0;
  pointer-events: none !important;
}
