.logo-container {
  position: fixed;
  display: flex;
  align-items: center;
  top: 50%;
  left: 50%;
  width: 85%;
  z-index: 12;
  text-align: center;
  transition: all 2s ease-out;
  user-select: none;
  pointer-events: none;
  transform: translateX(-50%) translateY(-50%);

  user-select: none;

  & > * {
    user-select: none;
  }

  .logo {
    margin: 0 auto;
    height: auto;
    width: auto;
    transition: all 2s;
    max-width: 100%;
    max-height: 100%;

    &:focus {
      outline: none;
    }
  }

  &:focus {
    outline: none;
  }
}

.finished-landing {
  width: 230px;
  top: 50px;

  @media screen and (max-width: 400px) {
    width: 180px;
  }
}
