.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -2;
    pointer-events: none;
    filter: brightness(0.5);

    @media (max-width: 1200px) {
        max-height: 150%;
        width: 100%;
    }
}